<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Usuário saúde</title>
    <link rel="stylesheet" href="Estilos/style.css">
</head>
<body>
    <div class="construção">
    <h1>Página em construção</h1>
    <div class="image"><img src="ferramenta2.webp" alt="construção">
    </div>
    </div>   
    <div class="button"><a href="index.html"><button>VOLTAR</button></a></div>
</body>
</html>