<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Estilos/imagens/favicon.ico" type="image/x-icon">
    <title>C.D.V.</title>
    <link rel="stylesheet" href="Estilos/style.css">
</head>
<body>
    <div class="header">
        <h1>Carteira Digital de Vacina</h1>
    </div>
    <div class="main-inicio" >   
        <div class="left-usuario">
            <h1>Usuário População</h1>
            <img src="Estilos/imagens/zeGotinhaP.png" alt="zé gotinha população" > 
            <div>
                <a href="login.html"><button>Entrar</button></a>
            </div>
        </div>
        <div class="rigth-inicio">
            <h1>Usuário Saúde</h1>
            <img src="Estilos/imagens/zeGotinhaS.png" alt="zé gotinha saúde" > 
            <div>
                <a href="construcao.html"><button>Entrar</button></a>
            </div>
        </div>
    </div>
</body>
</html>