<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Estilos/imagens/favicon.ico" type="image/x-icon">
    <title>Vacinas</title>
    <link rel="stylesheet" href="Estilos/vacinas.css">
</head>
<body>
    <div class="content">
        <form action="">
            <h1>"Carteira Digital de vacina"<br>Nome:</h1>
            <fieldset> 
                <div class="button"> 
                    <button>BCG Tuberculose</button>
                    <button>VIP Paralisia Infantil</button>
                    <button>VOP Paralisia Infantil</button>
                    <button>BCG Tuberculose</button>
                </div>
    
                <div class="button"> 
                    <button>Penta (DTP+Hep+HepB)</button>
                    <button>Pneumo 10</button>
                    <button>Rota vírus</button>
                    <button>Meningo C</button>
                </div>
    
                <div class="button"> 
                    <button>Hepatite B</button>
                    <button>Difteria Tétano Coqueluche</button>
                    <button>Sarampo Caxumba Rubéola</button>
                   <button>Sarampo Caxumba Rubéola Varicela</button>
                </div>
    
                <div class="button"> 
                    <button>Febre Amarela</button>
                    <button>Dupla Adulto</button>
                    <button>Raiva</button>
                    <button>Influenza</button>
                </div>
    
                <div class="button"> 
                    <button>Covid-19</button>
                    <button>Outras Vacinas</button>
                </div>
            </a>
            </fieldset> 
        </form>     
        </div>
</body>
</html>